@import "../../styles/common.module.scss";

.main {
  caret-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.875rem;
  border-radius: 0.5rem;
  width: 100%;
  align-items: center;
  letter-spacing: 0.03125rem;
  line-height: 1.5rem;
  & > img {
    width: 1.5rem;
    color: $black;
  }
  & > label {
    @include fs16_400;
    display: flex;
    align-items: center;
    color: $black;
    letter-spacing: 0.03125rem;
    line-height: 1.5rem;
  }
  &:hover {
    cursor: pointer;
    & > i {
      color: black;
    }
    & > label {
      color: black;
      cursor: pointer;
    }
  }
}

.bgCColor {
  background-color: white;

  padding-top: 1rem;
  padding-bottom: 1rem;

  &:hover {
    cursor: pointer;
    & > i {
      color: black;
    }
    & > label {
      color: black;
      cursor: pointer;
    }
  }
  & > i {
    color: $white;
  }
  & > label {
    color: black;
    cursor: pointer;
  }
}

.jcenter {
  justify-content: center;
}
