@mixin antialiased {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

@mixin fs14 {
  font-size: 1.167rem;
  @include antialiased;
}

@mixin fs16_400 {
  font-size: 1rem;
  font-weight: 400;
  @include antialiased;
}
@mixin fs16 {
  font-size: 1rem;
}
@mixin fs18 {
  font-size: 1.5rem;
  @include antialiased;
}
@mixin fs24 {
  font-size: 2rem;
  @include antialiased;
}
@mixin fs32 {
  font-size: 2.67rem;
  @include antialiased;
}

@mixin w100 {
  font-weight: 100;
}
@mixin w200 {
  font-weight: 200;
}
@mixin w300 {
  font-weight: 300;
}
@mixin w400 {
  font-weight: 400;
}
@mixin w500 {
  font-weight: 500;
}
@mixin w600 {
  font-weight: 600;
}
@mixin w700 {
  font-weight: 700;
}
@mixin w800 {
  font-weight: 800;
}
@mixin w900 {
  font-weight: 900;
}

$neutral50: #f4f7fa;
$neutral200: #f4f7fa;
$neutral250: #f9f9ff;
$neutral300: #c3ccd6;
$neutral500: #8593a3;
$neutral900: #1b1d21;
$neutral800: #353b41;
$neutral700: #505862;
$neutral600: #6a7682;
$neutral400: #a8b5c2;
$white: #ffffff;
$primary50: #eef0fd;
$primary500: #586af5;
$primary200: #bcc4fb;
$primary600: #3f4ec4;
$black: #000000;
$error50: #f35625;
$sucess500: #28ca9e;
$gray50: #f9fafb;
$transparentBlack: rgba(0, 0, 0, 0.2);

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (min-width: 20em) and (max-width: 30em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (min-width: 30.0625em) and (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (min-width: 48.0625em) and (max-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == large-desktop {
    @media (min-width: 64.0625em) and (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 75.0625em) and (min-width: 75.0625em) {
      @content;
    }
  }
}

.shim {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shim 2s infinite;
    content: "";
  }

  @keyframes shim {
    100% {
      transform: translateX(100%);
    }
  }
}
