@import "../../styles/common.module.scss";

.mainWrapper {
  width: 100%;
}

.main {
  border-collapse: collapse;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  & > thead > tr > th {
    background-color: $neutral200;
    padding: 0.9375rem 1.25rem;
    & > div:nth-child(1) {
      font-size: 0.875rem;
      color: $neutral900;
      font-weight: 900;
      text-align: left;
      //   @include iregular;
      & > i {
        font-size: 1.3rem;
        vertical-align: middle;
        color: $neutral300;
        &:hover {
          color: $primary500;
        }
      }
      margin-bottom: 0.5rem;
    }
  }
  & > thead > tr > th:nth-child(1) {
    border-top-left-radius: 0.7rem;
  }
  & > thead > tr > th:last-child {
    border-top-right-radius: 0.7rem;
  }

  & > tbody > tr > td {
    padding: 0.9375rem 1.25rem;
    border-bottom: 1px solid #dee4eb;
    // @include iregular;
    font-size: 0.875rem;
    color: $neutral900;
    font-weight: 400;
    & > i {
      color: $neutral300;
      vertical-align: middle;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    & :hover {
      color: $primary500;
    }
    & > ul {
      list-style-type: none;
    }
  }
}

.main1 {
  border-collapse: collapse;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  & > thead > tr > th {
    background-color: $neutral200;
    padding: 0.9375rem 1.25rem;
    font-size: 0.875rem;
    color: $neutral900;
    font-weight: 900;
    text-align: left;
    // @include iregular;
    & > i {
      font-size: 1.3rem;
      vertical-align: middle;
      color: $neutral300;
      &:hover {
        color: $primary500;
      }
    }
  }
  & > thead > tr > th:nth-child(1) {
    border-top-left-radius: 0rem;
  }
  & > thead > tr > th:last-child {
    border-top-right-radius: 0.7rem;
  }

  & > tbody > tr > td {
    padding: 0.9375rem 1.25rem;
    border-bottom: 1px solid #dee4eb;
    // @include iregular;
    font-size: 0.875rem;
    color: $neutral900;
    font-weight: 400;
    & > i {
      color: $neutral300;
      vertical-align: middle;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    & :hover {
      color: black;
    }
    & > ul {
      list-style-type: none;
    }
  }
}

.iconColor {
  color: $primary500 !important;
}

.paggination {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.pagginationButton {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: $neutral700;
  border-radius: 0.375rem;
}

.bgPagginationColor {
  background-color: $primary600;
  color: $white;
}

.square {
  color: $neutral300 !important;
}

.rowData {
  display: flex;
  gap: 1rem;
}

.search {
  & > input {
    border: 0.1rem solid $neutral300;
    box-shadow: 0px 0.0625rem 0.125rem rgba(0, 0, 0, 0.08);
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    // @include iregular;
    width: 100%;
  }
}
.shim {
  display: table-cell;
}
