* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 100%;
}
main {
  padding-top: 5rem;
}
header {
  margin-bottom: 2rem;
}
header,
h1 {
  text-align: center;
}
.grid-section-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 5rem;
}

.grid-section-2 {
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.grid-article-1 {
  grid-row: span 3;
}

.grid-article-1,
img {
  width: auto;
}

/* Mobile View */
@media screen and (min-width: 250px) and (max-width: 480px) {
  .grid-section-1 {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .grid-section-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .grid-article-1,
  img {
    width: 99%;
  }
}

/* Tablet View */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid-section-1 {
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .grid-section-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/* Laptop View */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-section-1 {
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .grid-section-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Laptop View */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .grid-section-1 {
    grid-template-columns: 1fr 1fr;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .grid-section-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.button {
  border: 0px;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: blue;
  transform: scale(0.9);
  color: white;
}
.button:active {
  transform: scale(1.2);
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
